@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}

// ------ NAV ------

.nav {
  width: 100%;
  max-height: 75px;
  display: flex;
  align-items: center;
  background-color: rgb(119, 143, 231);
}

.logo, a {
  color:white;
  font-size: 50pt;
  text-decoration: none;
  margin: auto;
  
}

.btn {
  font-size: 15pt;
  border-radius: 1rem;
  background-color: white;
  border: none;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: rgb(119, 143, 231);
}

.nav-btn {
  margin-right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  // flex-direction: column;


=======
  flex-direction: column;
>>>>>>> a5469612203ae6d4a0580d29e4bf863082c46090
}

.nav-list-btn {
  font-size: 15pt;
  border-radius: 1rem;
  background-color: white;
  border: none;
  justify-content: center;
  align-items: center;
  color: rgb(119, 143, 231);
  

}

// ------ ITEMS PAGE ------

.item-container {
  width: 100%;
  column-count: 3;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  font-size: 30pt;
  color:rgb(119, 143, 231);
}

.item-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15pt;
  gap: .5rem;
  // margin-bottom: 40px;
  // margin-top: 40px;
}

.store-image {
  border: 3px solid lightgray;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding: 3px;

}

.confirm-btn {
font-size: 12pt;
background-color: rgb(211, 241, 211);
margin-left: 5px;
border-radius: 1rem;
border-color:  rgb(211, 241, 211);

}

.update-btn {
  font-size: 12pt;
  background-color: rgb(251, 196, 185);
  margin-left: 5px;
  border-radius: 1rem;
  border-color: rgb(251, 196, 185);
}

.item-price {
  font-size: 19pt;
  color: red;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.map-section {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
}

// ---- FOOTER ----

footer {
  width: 100%;
  background-color: rgb(119, 143, 231);
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-size: 7pt;
  color:white;
  bottom: 0;
  position:fixed;

}

h3 {
  color:rgb(119, 143, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  margin-top: 90px;
}

.bargainSubmitButton{
  background-color:goldenrod;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border-radius: 10px;
  border:none;
  padding: 12px 28px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 130px;
}

select {
  background-color:rgb(119, 143, 231);
  padding:12px 30px;
  border-radius:10px;
  color:white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top:30px;
  font-size: 20px;
  
}

<<<<<<< HEAD


=======
//-------- LIST PAGE ---------

.listImage {
  border: 1px solid lightgrey;
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.overallContainer {
  display: flex;
}

.basketContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  position: absolute;
  right: 0;
}

.listContainer {
  padding: 0px 20px;
}

.foodContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.listHeading {
  color:rgb(119, 143, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.smallBasketText {
  font-size: smaller;
  margin-top: -10px;
}

.minusButton {
  font-size: 8pt;
  background-color: rgb(251, 196, 185);
  border-radius: 7px;
  border-color: rgb(251, 196, 185);
  margin-left: 7px;
}

.plusButton {
  font-size: 8pt;
  background-color: rgb(211, 241, 211);
  border-radius: 7px;
  border-color:  rgb(211, 241, 211);
  margin-left: 5px;
}
>>>>>>> a5469612203ae6d4a0580d29e4bf863082c46090
