img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}
.image {
  opacity: 1;

  transition: .5s ease;
  backface-visibility: hidden;
}

.container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.foodContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 10px, 15px 15px 0px;
  padding: 30px 3vw;
  cursor: pointer;
  // border: 2px solid black;
}

.foodContainer:hover .image {
  
  opacity: 0.4;
}